STIG_SCAP/3. SCC/extracted/scc-5.12.1_Windows/extracted_inner/scc_5.12.1/Resources/Schemas/hybrid_variable.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hybrid_variables">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hybrid_variable" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="scopeType" name="scope"/>
              <xs:element type="xs:string" name="target"/>
              <xs:element type="xs:string" name="authorization"/>
              <xs:element name="authorized_values">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="authorized_value" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="notes" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
    <xs:simpleType name="scopeType">
    <xs:annotation>
      <xs:appinfo>COMPUTER, DATABASE, or INSTANCE.</xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(COMPUTER|DATABASE|INSTANCE)"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>